.header {
  background: #b000b5 url(./react-logo.png) no-repeat left center;
  background-size: contain;

  span {
    color: #decade;
    margin-left: 50px;
    font-family: sans-serif;
  }
}

.big {
  font-size: 14px;
  font-family: Arial, sans-serif;
}
